<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP APP | Login Page</title>
</head>
<body>
    
    <h1>NLP APP</h1>

    <h3>Login Here</h3>

    {% if message %}
        <p style="color: green">{{message}}</p>
    {% endif %} 

    <form action="/perform_login" method="post">
        <label for="">Email</label><br>
        <input type="text" name="email"><br>
        <label for="">Password</label><br>
        <input type="password" name="pass"><br><br>
        <button type="submit">Login</button>
    </form>

    <p>Not a member? <a href="/register">Register Here</a></p>

</body>
</html>